<% option = li.object.line_item_options.first || li.object.line_item_options.build %>
<tr data-nested-fields-target="item" class="hover:bg-surface-alt">
  <td class="px-3 py-2 text-[13.5px] border-b border-border align-middle">
    <%= li.fields_for :line_item_options, [ option ] do |opt| %>
      <%= opt.hidden_field :is_primary, value: "1" %>
      <%= opt.select :option_ref, grouped_options_for_select(@option_groups, opt.object.option_ref),
            { include_blank: "Select component or sub-assembly" }, class: "field-input", required: true %>
    <% end %>
  </td>
  <td class="px-3 py-2 text-[13.5px] border-b border-border align-middle w-28">
    <%= li.number_field :quantity, value: li.object.quantity || 1, min: 1, class: "field-input", required: true %>
  </td>
  <td class="px-3 py-2 text-[13.5px] border-b border-border align-middle text-center w-20">
    <%= li.hidden_field :_destroy %>
    <button type="button" class="btn btn-tertiary btn-sm" data-action="click->nested-fields#remove">Remove</button>
  </td>
</tr>
